swagger: "2.0"
info:
  version: 1.11.0
  title: TripGo
  x-logo:
    url: "https://developer.tripgo.com/img/tripgo-api-logo-color.svg"
  description:
    The TripGo API, for selected providers, allows users to book and pay
    for transport.<br/>

  termsOfService: http://skedgo.com/api/terms
  contact:
    name: SkedGo API Team
    email: api@skedgo.com
    url: http://skedgo.com/tripgo-api/
  license:
    name: Proprietary
    url: http://skedgo.com/tripgo-api/license
host: tripgo.skedgo.com
basePath: /satapp
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  api_key:
    name: X-TripGo-Key
    type: apiKey
    in: header
security:
  - api_key: []
tags:
  - name: Quick Booking
  - name: Form-Based Booking
  - name: Auth

paths:
  /auth/{region}:
    $ref: "/specs/modules/booking.paths.yaml#/auth-{region}"
  /auth/{provider}/signin:
    $ref: "/specs/modules/booking.paths.yaml#/auth-{provider}-signin"
  /auth/signin/{instanceID}:
    $ref: "/specs/modules/booking.paths.yaml#/auth-signin-{instanceID}"
  /auth/{provider}/logout:
    $ref: "/specs/modules/booking.paths.yaml#/auth-{provider}-logout"
  /booking/{tripID}/{segmentID}/info:
    $ref: "/specs/modules/booking.paths.yaml#/booking-{tripID}-{segmentID}-info"
  /booking/{version}/{tripID}/{segmentID}/book:
    $ref: "/specs/modules/booking.paths.yaml#/booking-{version}-{tripID}-{segmentID}-book"
  /booking/{version}/{tripID}/{segmentID}/book/{step}:
    $ref: "/specs/modules/booking.paths.yaml#/booking-{version}-{tripID}-{segmentID}-book-{step}"
  /booking/{version}/{tripID}/{segmentID}/payment:
    $ref: "/specs/modules/booking.paths.yaml#/booking-{version}-{tripID}-{segmentID}-payment"
  /booking/{version}/{tripID}/{segmentID}/confirm:
    $ref: "/specs/modules/booking.paths.yaml#/booking-{version}-{tripID}-{segmentID}-confirm"
  /booking/{version}/{token}/status:
    $ref: "/specs/modules/booking.paths.yaml#/booking-{version}-{token}-status"
  /booking/{version}/{token}/cancel:
    $ref: "/specs/modules/booking.paths.yaml#/booking-{version}-{token}-cancel"
  /booking/{version}/{token}/rate:
    $ref: "/specs/modules/booking.paths.yaml#/booking-{version}-{token}-rate"
  /booking/{version}/{token}/update:
    $ref: "/specs/modules/booking.paths.yaml#/booking-{version}-{token}-update"
  /booking/{version}/{token}/pay.html:
    $ref: "/specs/modules/booking.paths.yaml#/booking-{version}-{token}-pay.html"
  /booking/{version}/{token}/pay:
    $ref: "/specs/modules/booking.paths.yaml#/booking-{version}-{token}-pay"
  /booking/{version}/{tripID}/{segmentID}/quick:
    $ref: "/specs/modules/booking.paths.yaml#/booking-{version}-{tripID}-{segmentID}-quick"
  /booking/{version}/{tripID}/{segmentID}/quick/{serviceID}:
    $ref: "/specs/modules/booking.paths.yaml#/booking-{version}-{tripID}-{segmentID}-quick-{serviceID}"
  /booking/{version}/{tripID}/{segmentID}/update/{serviceID}:
    $ref: "/specs/modules/booking.paths.yaml#/booking-{version}-{tripID}-{segmentID}-update-{serviceID}"
  /booking/{version}/{tripID}/{segmentID}/details/{quoteId}:
    $ref: "/specs/modules/booking.paths.yaml#/booking-{version}-{tripID}-{segmentID}-details-{quoteId}"
  /booking:
    $ref: "/specs/modules/booking.paths.yaml#/booking"
  /booking/valid/count:
    $ref: "/specs/modules/booking.paths.yaml#/booking-valid-count"
