@import "tailwindcss";

@font-face {
  font-family: "ProximaNovaSoft";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../font/webfonts/234DF5_0_0.eot");
  src:
    url("../../font/webfonts/234DF5_0_0.eot?#iefix") format("embedded-opentype"),
    url("../../font/webfonts/234DF5_0_0.woff") format("woff"),
    url("../../font/webfonts/234DF5_0_0.ttf") format("truetype");
}

@font-face {
  font-family: "ProximaNovaSoft";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../../font/webfonts/234DF5_1_0.eot");
  src:
    url("../../font/webfonts/234DF5_1_0.eot?#iefix") format("embedded-opentype"),
    url("../../font/webfonts/234DF5_1_0.woff") format("woff"),
    url("../../font/webfonts/234DF5_1_0.ttf") format("truetype");
}

@font-face {
  font-family: "ProximaNovaSoft";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../font/webfonts/234DF5_2_0.eot");
  src:
    url("../../font/webfonts/234DF5_2_0.eot?#iefix") format("embedded-opentype"),
    url("../../font/webfonts/234DF5_2_0.woff") format("woff"),
    url("../../font/webfonts/234DF5_2_0.ttf") format("truetype");
}

@font-face {
  font-family: "ProximaNovaSoft";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../font/webfonts/234DF5_3_0.eot");
  src:
    url("../../font/webfonts/234DF5_3_0.eot?#iefix") format("embedded-opentype"),
    url("../../font/webfonts/234DF5_3_0.woff") format("woff"),
    url("../../font/webfonts/234DF5_3_0.ttf") format("truetype");
}

.content h1 {
  @apply mt-8 mb-2 text-4xl font-bold tracking-tight text-gray-900;
}

.content h2 {
  @apply mt-8 mb-2 text-3xl font-semibold tracking-tight text-gray-900;
}

.content h3 {
  @apply mt-8 mb-2 text-2xl font-semibold tracking-tight text-gray-900;
}

.content h4 {
  @apply mt-8 mb-2 text-lg font-semibold text-gray-900;
}

.content h5 {
  @apply mt-8 mb-2 font-semibold text-gray-900;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  @apply scroll-mt-22;
}

.content p {
  @apply text-base leading-relaxed text-gray-700;
}

.content a {
  @apply hover:decoration-sg-green/60 font-semibold underline decoration-gray-200 decoration-2 underline-offset-4;
}

.content code {
  @apply font-mono text-[0.85em];
}

.content pre code {
  @apply block rounded-lg border border-gray-900/10 text-xs leading-5 whitespace-pre-wrap;
}

.content > * + * {
  @apply mt-4;
}

.content ul {
  @apply list-disc pl-6;
}

.content ol {
  @apply list-decimal pl-6;
}

.content li {
  @apply mb-2;
}

.content blockquote {
  @apply border-l-4 border-gray-200 pl-4;
}

.content .headerlink {
  @apply hover:text-sg-green ml-2 text-gray-400 no-underline opacity-0 transition-opacity duration-150;
}

.content hr {
  @apply mt-10 block border-gray-300;
}

.content h1:hover > .headerlink,
.content h2:hover > .headerlink,
.content h3:hover > .headerlink,
.content h4:hover > .headerlink,
.content h5:hover > .headerlink,
.content h6:hover > .headerlink {
  @apply opacity-100;
}

.content img {
  @apply rounded-lg;
}

.content pre {
  @apply relative;
}

.content pre .copy-button {
  @apply absolute top-0 right-0 bg-white px-1 text-xs;
}

code.highlight {
  @apply rounded bg-gray-100 px-1 py-0.5;
}

.content table {
  @apply w-full;
}

.content table tr {
  @apply border-b border-gray-200;
}

.content table tr:first-child {
  @apply border-t border-gray-200;
}

.content table th {
  @apply border-r border-gray-200 bg-gray-50 px-3 py-2 text-left align-top font-semibold;
}

.content table th:first-child {
  @apply border-l;
}

.content table td {
  @apply border-r border-gray-200 px-3 py-2 align-top text-sm;
}

.content table td:first-child {
  @apply border-l;
}

.content .btn-primary {
  @apply bg-sg-green inline-block rounded-full px-5 py-2 text-white no-underline hover:opacity-90;
}

.content .col-3 {
  @apply flex flex-col gap-3 md:flex-row;
}

/* Columns 3 */

.content .col-3 * {
  @apply w-full;
}

/* Green card */

.content .green-card {
  @apply rounded-lg bg-green-200 px-4 py-2;
}

.content .green-card-title {
  @apply font-semibold;
}

.content .green-card-value {
  @apply text-2xl font-semibold text-green-700;
}

/* Search */

#mkdocs-search-results > p {
  @apply p-2;
}

#mkdocs-search-results article {
  @apply p-2;
}

#mkdocs-search-results article h3 {
  @apply hover:decoration-sg-green text-lg font-semibold text-gray-900 underline decoration-gray-200 decoration-2 underline-offset-3;
}

#mkdocs-search-results article p {
  @apply text-gray-700;
}

/* Toc */

#toc a.active {
  @apply border-gray-900 font-semibold text-gray-900;
}

/* Tab style */

.tabbed-set {
  @apply relative mx-2 flex flex-wrap overflow-clip rounded-xl border border-gray-200;
}

.tabbed-set > input {
  @apply hidden;
}

.tabbed-set label {
  @apply w-auto cursor-pointer border-b-2 border-transparent border-b-transparent px-5 py-3 font-semibold whitespace-nowrap text-gray-500 hover:text-gray-600;
}

.tabbed-set .tabbed-content {
  @apply hidden w-full border-t border-gray-200 bg-gray-50 p-4;
}

.tabbed-set input {
  @apply absolute opacity-0;
}

.tabbed-set input:checked:nth-child(n + 1) + label {
  @apply border-sg-green text-gray-700;
}

@media screen {
  .tabbed-set input:nth-child(n + 1):checked + label + .tabbed-content {
    @apply order-99 block;
  }

  .tabbed-content > * + * {
    @apply mt-4;
  }
}

@media print {
  .tabbed-content {
    @apply contents;
  }
}

@theme {
  --font-sans:
    "ProximaNovaSoft", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --color-sg-blue: #154c7b;
  --color-sg-green: #23b15e;
}
