openapi: 3.0.1
info:
  title: TripGo
  description: "The TripGo API allows you to plan door-to-door trips using a large\
    \ variety of public and private transport. It integrates real-time information\
    \ and, for selected providers, allows users to book and pay for transport.<br/>\
    \ <br/> This API is optimised to return a large number of trip results while maintaining\
    \ a small package sizes. This has a number of complications. Notably, to get a\
    \ trip's segments you need to combine the segment references with the segment\
    \ templates."
  termsOfService: http://skedgo.com/api/terms
  contact:
    name: SkedGo API Team
    url: https://developer.tripgo.com/
    email: api@skedgo.com
  license:
    name: Apache 2.0
    url: https://github.com/skedgo/tripgo-api/blob/gh-pages/LICENSE
  version: 1.11.2022-10-27
  x-logo:
    url: /img/tripgo-api-logo-color.svg
servers:
- url: https://api.tripgo.com/v1
security:
  - api_key: []
tags:
- name: Configuration
- name: Routing
- name: Trips
- name: TTP
- name: Geocode
- name: Locations
- name: Public Transport
externalDocs:
  description: "TripGo API Developer page"
  url: https://developer.tripgo.com/

paths:
  /regions.json:
    post:
      tags:
      - Configuration
      summary: Available regions
      description: "Lists available regions and available\
        \ transport modes. Provide optional hash code to only return output if the\
        \ data has changed."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegionsInput'
        required: true
      responses:
        "200":
          description: Available regions and modes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionsResponse'
      x-codegen-request-body-name: input

  /regionInfo.json:
    post:
      tags:
      - Configuration
      summary: TSPs per region
      description: Retrieves basic information about covered transport service providers
        for the specified regions.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegionInfoInput'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionInfoResponse'
      x-codegen-request-body-name: input

  /regions/{code}/locations:
    get:
      tags:
      - Configuration
      summary: POIs for a transport mode
      description: Bulk fetch of all locations for the provided mode in a region.
      parameters:
      - name: code
        in: path
        description: Region code from `regions.json`
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mode
        in: query
        description: Mode identifier for which to include POIs.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: includeChildren
        in: query
        description: "Should \"parent\" public transport location (e.g., large station)\
          \ include the details for each child stops (e.g., individual platforms)?"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: true
      - name: includeRoutes
        in: query
        description: "Set to include `routes` information for public transport locations."
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false          
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupedLocations'

  /info/operators.json:
    post:
      tags:
      - Public Transport
      summary: Operators for a region
      description: Retrieves detailed information about covered transport service
        providers for a specified region.
      requestBody:
        content:
          application/json:
            schema:
              required:
              - region
              type: object
              properties:
                region:
                  type: string
                  description: Region name/code from `regions.json`.
                modes:
                  type: array
                  description: "Public transit modes (`pt_pub_*`) for which results\
                    \ should be returned. [Mode identifier](/faq/#mode-identifiers)\
                    \ strings like `pt_pub` or `pt_pub_subway`. In absence, all modes\
                    \ are included."
                  items:
                    type: string
                operatorIDs:
                  type: array
                  description: "Operator IDs to retrieve information from. In case\
                    \ of any mismatch, it'll return error response. Use either this\
                    \ filter or `operatorNames`."
                  items:
                    type: string
                    description: Operator ID.
                operatorNames:
                  type: array
                  description: "Operator names to retrieve information from. In case\
                    \ of any mismatch, it'll return error response. Use either this\
                    \ filter or `operatorIDs`."
                  items:
                    type: string
                    description: Operator name.
                onlyRealTime:
                  type: boolean
                  description: "Boolean to filter only operators with real-time support.\
                    \ When true, returned operator list will contain only operators with\
                    \ real-time support."
                  default: false
                full:
                  type: boolean
                  description: Boolean if result should include full information for
                    operator/s or just a list with all their IDs ignoring `mode` array
                    in response.
                  default: false
              description: "Use `modes` to filter by tranport modes. Only results\
                \ for the given modes will be retuned. When `full` paramater is false,\
                \ it will retrieve a list of operator IDs for the given region and\
                \ `modes` and `onlyRealTime` if any. You can also retrieve information\
                \ for a list of particular operators using `operatorIDs` or `operatorNames`,\
                \ providing their IDs (or names) as they were given before as a list\
                \ member in this very same endpoint. The use of filters like `modes`,\
                \ `onlyRealTime`, `operatorNames` and/or `operatorIDs` could lead\
                \ to a empty response. In order to prevent this, make sure such combinations\
                \ are posible, using previously fetched information."
              example:
                region: US_CA_LosAngeles
                modes:
                - pt_pub_tram
                - pt_pub_bus
                full: true
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                example:
                - id: LACMTA
                  name: Metro - Los Angeles
                  modes:
                  - mode: pt_pub_tram
                    numberOfServices: 5698
                  - mode: pt_pub_bus
                    numberOfServices: 36855
                    realtime:
                    - alerts: false
                    - positions: true
                    - updates: true
                - id: 27
                  name: LADOT
                  modes:
                  - mode: pt_pub_bus
                    numberOfServices: 15828
                - id: 6216179
                  name: Big Blue Bus
                  modes:
                  - mode: pt_pub_bus
                    numberOfServices: 7702
                    realtime:
                    - alerts: true
                    - positions: true
                    - updates: false
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: TSP ID.
                    name:
                      type: string
                      description: TSP name.
                    modes:
                      type: array
                      items:
                        type: object
                        properties:
                          mode:
                            type: string
                            description: Operator's mode identifier.
                          numberOfServices:
                            type: integer
                            description: Total number of services on the timetable
                              this operator is running within a typical week.
                          realTime:
                            $ref: '#/components/schemas/RealTimeData'
                        description: Detailed information for this operator under
                          a specific public transport mode.
                  description: TSP information.
        "400":
          description: "Bad request, most likely due to issues with the input or non-possible\
            \ scenarios."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InputError'
      x-codegen-request-body-name: input

  /info/routes.json:
    post:
      tags:
      - Public Transport
      summary: Routes for a region or operator
      description: Retrieves detailed information about routes for either all operators in a region, or a specified operator
      requestBody:
        content:
          application/json:
            schema:
              required:
              - region
              type: object
              properties:
                region:
                  type: string
                  description: Region name/code from `regions.json`.
                query:
                  type: string
                  description: Optional search string to filter routes by their short name (complete matches only) or by their name (partial matches)
                operatorID:
                  type: string
                  description: Operator ID from `info/operators.json` to return only routes for this operator. In absence, routes for all operators are included.
                modes:
                  type: array
                  description: "Public transit modes (`pt_pub_*`) for which results\
                    \ should be returned. [Mode identifier](/faq/#mode-identifiers)\
                    \ strings like `pt_pub` or `pt_pub_subway`. In absence, all modes\
                    \ are included."
                  items:
                    type: string
                routesIDs:
                  type: array
                  description: "Route IDs to retrieve information from. In case of\
                    \ any mismatch, it'll return error response. Use either this\
                    \ filter or `routeNames`."
                  items:
                    type: string
                    description: Route ID.
                routesNames:
                  type: array
                  description: "Route names to retrieve information from. In case\
                    \ of any mismatch, it'll return error response. Use either this\
                    \ filter or `routeIDs`."
                  items:
                    type: string
                    description: Route name.
                onlyRealTime:
                  type: boolean
                  description: "Boolean to filter only routes with real-time support.\
                    \ When true, returned route list will contain only routes with\
                    \ real-time information."
                  default: false
                full:
                  type: boolean
                  description: Boolean if result should include full information for
                    route/s or just a list with all their IDs.
                  default: false
              description: "Use `modes` to filter by tranport modes. Only results\
                \ for the given modes will be retuned. When `full` paramater is false,\
                \ it will retrieve a list of route IDs for the given region/operator\
                \ and `modes` and `onlyRealTime` if any. You can also retrieve information\
                \ for a particular list of routes using `routeIDs` or `routeNames`,\
                \ providing their IDs (or names) as they were given before as a list\
                \ member in this very same endpoint. The use of filters like `modes`,\
                \ `onlyRealTime`, `routeNames` and/or `routeIDs` could lead to a empty\
                \ response. In order to prevent this, make sure such combinations\
                \ are posible, using previously fetched information."
              example:
                region: US_CA_LosAngeles
                operatorID: LACMTA_Rail
                modes:
                - pt_pub_tram
                full: true
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                example:
                - id: 803
                  name: Metro Green Line  (803)
                  mode: pt_pub_tram
                  numberOfServices: 485
                  stops:
                  - 80314
                  - 80312
                  - 80307
                  - 80305
                  - 80301
                - id: 806
                  name: Metro Expo Line  (806)
                  mode: pt_pub_tram
                  numberOfServices: 562
                  stops:
                  - 80137
                  - 80122
                  - 80139
                  - 80136
                  - 80125
                  - 80138
                  routeColor:
                  - blue: 198
                  - green: 103
                  - red: 0
                  realtime:
                  - alerts: false
                  - positions: true
                  - updates: false
                - id: 804
                  name: Metro Gold Line  (804)
                  mode: pt_pub_tram
                  numberOfServices: 120
                  stops:
                  - 80404
                  - 80402
                  - 80418
                  - 80426
                  - 80419
                  - 80410
                  - 80427
                  - 80411
                items:
                  $ref: '#/components/schemas/RouteInfo'
                  required:
                    - id
                    - operatorID
                    - mode
                    - numberOfServices
                    - stops
                  description: Route information.
        "400":
          description: "Bad request, most likely due to issues with the input or non-possible\
            \ scenarios."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InputError'

  /info/routeInfo.json:
    post:
      tags:
      - Public Transport
      summary: Details of a route
      description: Retrieves detailed information about a route and its stops
      requestBody:
        content:
          application/json:
            schema:
              required:
              - operatorID
              - region
              - routeID
              type: object
              properties:
                region:
                  type: string
                  description: Region name/code from `regions.json`.
                operatorID:
                  type: string
                  description: Operator ID from `info/routes.json` (or `info/operators.json`).
                routeID:
                  type: string
                  description: Route ID from `info/routes.json`.
              example:
                region: US_CA_LosAngeles
                operatorID: LACMTA_Rail
                routeID: 806
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RouteInfoBase'
                - type: object
                  properties:
                    directions:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Direction ID
                          name:
                            type: string
                            description: Direction name, using the trip headsign that is most common among services of this route for this direction.
                          encodedShape:
                            type: string
                            description: Route shape for this direction as an encoded polyline, using the shape that is most common among services of this route for this direction.
                          shapeIsDetailed:
                            type: boolean
                            description: Boolean if the shape is detailed (e.g., provided by a GTFS shapes.txt file) and has waypoints between the stops following roads/tracks, or if it is a simplified shape between the stops.
                          stops:
                            type: array
                            description: List of stops used by this direction
                            items:
                              type: object
                              properties:
                                stopCode:
                                  type: string
                                  description: Stop code
                                name:
                                  type: string
                                  description: Stop name
                                lat:
                                  type: number
                                  description: Latitude of the stop
                                lng:
                                  type: number
                                  description: Longitude of the stop
                                common:
                                  type: boolean
                                  description: Boolean if this stop is common among all services of this route for this direction.
                              required:
                                - stopCode
                                - name
                                - lat
                                - lng
                                - common
                        required:
                          - id
                          - encodedShape
                          - shapeIsDetailed
                          - stops
        "400":
          description: "Bad request, most likely due to issues with the input or non-possible\
            \ scenarios."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InputError'

  /info/services.json:
    post:
      tags:
      - Public Transport
      summary: Services for a route
      description: Retrieves detailed information about services for a specified route.
      requestBody:
        content:
          application/json:
            schema:
              required:
              - operatorID
              - region
              - routeID
              type: object
              properties:
                region:
                  type: string
                  description: Region name/code from `regions.json`.
                operatorID:
                  type: string
                  description: Operator ID from `info/routes.json` (or `info/operators.json`).
                routeID:
                  type: string
                  description: Route ID from `info/routes.json`.
                serviceTripIDs:
                  type: array
                  description: "IDs to retrieve information from. In case of any mismatch,\
                    \ it'll return error response."
                  items:
                    type: string
                    description: Service trip ID.
                onlyRealTime:
                  type: boolean
                  description: "Boolean to filter only services with Real Time support.\
                    \ When true, returned service list will contain only services\
                    \ with Real Time support."
                  default: false
                full:
                  type: boolean
                  description: Boolean if result should include full information for
                    service/s, or just a list with only `id` field in response.
                  default: false
              description: "When `full` paramater is false, it will retrieve a list\
                \ of service trips IDs for the given route and `onlyRealTime` if any.\
                \ You can also retrieve information for a particular list of services\
                \ using `serviceTripIDs`."
              example:
                region: US_CA_LosAngeles
                operatorID: LACMTA_Rail
                routeID: 806
                serviceTripIDs:
                - 40358027
                full: true
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                example:
                - id: 40358027
                  stops:
                  - 80139
                  - 80138
                  - 80137
                  realtime:
                  - alerts: false
                  - positions: true
                  - updates: false
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: Service Trip ID
                    stops:
                      type: array
                      description: Sorted stop list for this trip
                      items:
                        type: string
                        description: Stop code
                    realTime:
                      $ref: '#/components/schemas/RealTimeData'
                  description: Service information
                  required:
                    - id
                    - stops
        "400":
          description: "Bad request, most likely due to issues with the input or non-possible\
            \ scenarios."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InputError'
      x-codegen-request-body-name: input
  /routing.json:
    get:
      tags:
      - Routing
      summary: A-to-B trips
      description: Calculates door-to-door trips for the specified mode(s).
      parameters:
      - name: v
        in: query
        description: Requested version number of output. Needs to be 11.
        required: true
        style: form
        explode: true
        schema:
          multipleOf: 1.0
          maximum: 11
          minimum: 11
          type: integer
      - name: from
        in: query
        description: "Origin coordinate as `(lat,lng)\"name\"` string (the `\"name\"\
          ` part is optional)."
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: fromStreetName
        in: query
        description: "The street name of `from`. Provide this to make sure the trip\
          \ starts on the correct street, even if the `from` coordinate is in the\
          \ middle of a block."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: to
        in: query
        description: "Destination coordinate as `(lat,lng)\"name\"` string (the `\"\
          name\"` part is optional)."
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: toStreetName
        in: query
        description: "The street name of `to`. Provide this to make sure the trip\
          \ ends on the correct street, even if the `to` coordinate is in the middle\
          \ of a block."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: departAfter
        in: query
        description: Departure time in seconds since 1970. Either this or `arriveBefore`
          need to be specified. You can also specify both to find trips that minimise
          duration within that window.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: arriveBefore
        in: query
        description: Arrival time in seconds since 1970. Either this or `departAfter`
          need to be specified. You can also specify both to find trips that minimise
          duration within that window.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: modes
        in: query
        description: "Modes for which results should be returned. [Mode identifier](/faq/#mode-identifiers)\
          \ strings like `pt_pub` or `pt_tax_FLITWAYS` exactly as returned by `regions.json`.\
          \ If multiple modes are specified only trips which mix at least two of these\
          \ modes are returned. [Details of single-modal and multi-modal queries are\
          \ on our developer site](/faq/#single-modal-vs-multi-modal-routing)."
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: allModes
        in: query
        description: "By default, when sending more than one mode only results for\
          \ trips mixing at least two of those modes are returned and trips using\
          \ a single-mode are omitted. Set this parameter to `true` to change this\
          \ behaviour, so that all trips are returned - regardless of the number of\
          \ modes used.\n
          \ \n
          \ **Warning**: This slows down requests as results are only returned when\
          \ all single-modal and mixed-modal results are returned."
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: neverAllowModes
        in: query
        description: "Apply additional restrictions on which modes to use:\
          \ <ul> \
          \ <li>Exclude public transport modes: Provide identifiers like `pt_pub_bus`\
          \ exactly as returned by `regionInfo.json`. If multiple modes are specified,\
          \ all will be excluded. Results won't use these pubic transport modesmodes.\
          \ This applies to regular services, not limited services like schoolbuses.</li>\
          \ <li>Strict driving: If `modes` uses `me_car` or `me_mot`, you can provide\
          \ `wa_wal` for this identifier to drive all the way the destination, rather\
          \ rather than allowing to park and walk at the end.</li>\
          \ </ul>"
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: onlyAllowModes
        in: query
        description: "Apply additional restrictions on which modes to use:\
          \ <ul> \
          \ <li>Public transport mode identifiers (like `pt_pub_bus`) to allow.\
          \ If the array has content, then results will use ONLY these modes. This\
          \ applies to regular services, not limited services like schoolbuses. Can't\
          \ be used together with `neverAllowModes`.</li>\
          \ <li>Strict driving: If `modes` uses `me_car` or `me_mot`, you can provide\
          \ the mode here again to drive all the way the destination, rather\
          \ rather than allowing to park and walk at the end.</li>\
          \ </ul>\n
          \ \n
          \ **Warning**: If the provided modes don't exist, then this can lead\
          \ to empty results. Use with care. Safer options are `avoidModes` and `neverAllowModes`."
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: avoidModes
        in: query
        description: "**Only for public transport**. Public transport modes to avoid. Identifier strings like `pt_pub_bus`\
          \ exactly as returned by `regionInfo.json`. If multiple modes are specified,\
          \ all will be avoided. Results can still use these modes if no other public\
          \ transport mode is suitable."
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: neverAllowStops
        in: query
        description: "**Only for public transport**. Public stops to exclude. Stop codes usually coming from the\
          \ `excludedStops` field in `alerts` field. If a stop code corresponds to\
          \ a \"parent\" station, it will exclude all \"children\" stops."
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: neverAllowOperators
        in: query
        description: "**Only for public transport**. Service operator IDs to exclude. Results won't use these operators.\
          \ This applies to regular services, not limited services like schoolbuses."
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: neverAllowAuthorities
        in: query
        description: "**Only for public transport**. Service authority IDs to exclude. Results won't use these authorities.\
          \ This applies to regular services, not limited services like schoolbuses."
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: neverAllowFeeds
        in: query
        description: "**Only for public transport**. Service operator feed IDs to exclude. Results won't use the operators\
          \ from these feeds. This applies to regular services, not limited services like school buses."
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: onlyAllowOperators
        in: query
        description: "**Only for public transport**. Service operator IDs to allow. If the array has content, then\
          \ results will use ONLY these operators. This applies to regular services,\
          \ not limited services like schoolbuses. Can be used together with `onlyAllowModes`\
          \ and then results will be restricted to only these operators and only those\
          \ modes. Can't be used together with `neverAllowOperators`.\n
          \ \n
          \ **Warning**: If the provided operator IDs don't exist, then this leads\
          \ to empty results. Use with care. Safer option is `neverAllowOperators`."
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: onlyAllowFeeds
        in: query
        description: "**Only for public transport**. Service operator feed IDs to allow. If the array has content, then\
          \ results will use ONLY these operators. This applies to regular services,\
          \ not limited services like school buses. Can be used together with `onlyAllowModes`\
          \ and then results will be restricted to only the operators from these feeds\
          \ and only those modes. Can't be used together with `neverAllowFeeds`.\n
          \ \n
          \ **Warning**: If the provided feed IDs don't exist in that region, then\
          \ this filter is ignored and not used during results filtering. Use with care. Safer option is `neverAllowFeeds`."
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: onlyAllowAuthorities
        in: query
        description: "**Only for public transport**. Service authority IDs to allow. If the array has content, then\
          \ results will use ONLY these authorities. This applies to regular services,\
          \ not limited services like schoolbuses. Can be used together with `onlyAllowModes`\
          \ and then results will be restricted to only these authorities and only\
          \ those modes. Can't be used together with `neverAllowAuthorities`.\n
          \ \n
          \ **Warning**: If the provided authority IDs don't exist, then this leads\
          \ to empty results. Use with care. Safer option is `neverAllowAuthorities`."
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: alwaysAllowLines
        in: query
        description: "**Only for public transport**. Service line numbers or IDs that are expressly allowed. Results\
          \ may use other lines as well. This applies to regular services, not limited\
          \ services like schoolbuses. Can be used together with `onlyAllowOperators`/`onlyAllowModes`/`neverAllowOperators`,\
          \ and then results may use these lines even if the operator and/or mode\
          \ have been excluded."
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: tt
        in: query
        description: "Preferred minimum transfer time in minutes. E.g., `tt=0.5` specifies\
          \ a 30 seconds preferred transfer time."
        required: false
        style: form
        explode: true
        schema:
          multipleOf: 1.0
          minimum: 0
          type: number
          default: 3.0
      - name: wm
        in: query
        description: "Maximum walking duration, in minutes. 0 means no limit."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 0
      - name: ws
        in: query
        description: "Walking speed. 0 slow (2.5 km/h), 1 medium (4 km/h), 2 fast\
          \ (4.5 km/h). Or a custom speed expressed in kph or mps, like 22kph or 6.11mps."
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: "1"
      - name: cs
        in: query
        description: "Cycling speed. 0 slow (12 km/h), 1 medium (18 km/h), 2 fast\
          \ (25 km/h). Or a custom speed expressed in kph or mps, like 22kph or 6.11mps."
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: "1"
      - name: wp
        in: query
        description: "String with `(%f,%f,%f,%f)` format specifying the user's weighting\
          \ profile. In order, the weights represent price, environmental impact,\
          \ duration, and convenience. Each value should be between 0.1 and 2.0. 0.1\
          \ means the related cost is unimportant and 2.0 means it's very important\
          \ to the user. This impacts both the routing results and each trip's `weightedScore`\
          \ value."
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: "(1, 1, 1, 1)"
      - name: conc
        in: query
        description: If concession pricing should be use for public transport
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: wheelchair
        in: query
        description: "Boolean if routing results should include wheelchair information\
          \ (note, that this will change 'walking' instruction to 'rolling' instruction)."
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: includeStops
        in: query
        description: "Boolean if segment templates for public transport should include\
          \ the list of all stops along the way, including *relative* times (i.e.,\
          \ seconds since start of the segment)"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: 2wirc
        in: query
        description: "Boolean to determine whether two-way-hire vehicles, such as\
          \ pod-based car-share, should automatically add the cost of returning the\
          \ vehicle to its pick-up location. Set to false if the cost of the trip\
          \ should only include the cost that's attributed to this trip and ignore\
          \ the unavoidable additional cost for returning the vehicle to its pick-up\
          \ location."
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: true
      - name: fb
        in: query
        description: "_f_olding _b_icycle, boolean to determine whether the bicycle\
          \ mode should be treated as a folding/portable bicycle. When this is set\
          \ to `true`, the bicycle will be taken on any public transport mode, and\
          \ will be taken all the way to the destination, rather than locking it up\
          \ along the way. (Only applies if `modes` includes `cy_bic`.)"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: bestOnly
        in: query
        description: Boolean if routing result should include only the best trip found
          for query.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: enableSynchronousAPIs
        in: query
        description: "boolean to determine if we should make synchronous calls to\
          \ external APIs. When this is set to `false`, there are no calls to external\
          \ APIs and only static or cached data is being used for our routing results."
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: true
      - name: cyclingAlt
        in: query
        description: "For cycling routes, which alternative(s) should be computed.<br/>All\
          \ the requested alternatives will be returned within a single trip group.<br/>Note\
          \ that this parameter applies only to pure cycling trips, i.e., not multimodal\
          \ trips.<br/> <br/> `best` is the best overall route, considering all our\
          \ metrics<br/> <br/> `shortest` is the most direct route, in distance, but\
          \ note that it may not be the fastest one (e.g., it may take congested roads\
          \ without bike lanes)<br/> <br/> `friendliest` avoids unfriendly paths as\
          \ much as possible, probably leading to a longer distance."
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - best
          - shortest
          - friendliest
          - all
          default: best
      - name: etwt
        in: query
        description: "_e_xpected _t_axi/TNC/DRT _w_aiting _t_ime, in minutes. This\
          \ is used for taxis/TNCs/DRTs where no real-time ETA is available. Default\
          \ value is 8 for taxis/TNCs, and 0 for DRTs."
        required: false
        style: form
        explode: true
        deprecated: true
        schema:
          type: integer
          default: 8
      - name: etwt[ps_drt]
        in: query
        description: "_e_xpected _t_axi _w_aiting _t_ime, in minutes, for DRT"
        required: false
        style: form
        explode: true
        allowReserved: true
        schema:
          type: integer
          default: 0
      - name: etwt[ps_tax]
        in: query
        description: "_e_xpected _t_axi _w_aiting _t_ime, in minutes, for taxis"
        required: false
        style: form
        explode: true
        allowReserved: true
        schema:
          type: integer
          default: 8
      - name: etwt[ps_tnc]
        in: query
        description: "_e_xpected _t_axi _w_aiting _t_ime, in minutes, for TNCs"
        required: false
        style: form
        explode: true
        allowReserved: true
        schema:
          type: integer
          default: 8
      - name: amopt
        in: query
        description: "Boolean if routing results should allow micromobility\
          \ vehicles on public transport. If `false`, routing results will never suggest\
          \ taking micromobility on PT. If `true`, regular rules apply for whether it's\
          \ allowed or not, depending on the PT service and vehicle type."
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: true
      responses:
        "400":
          description: Bad request.
          headers:
            X-TripGo-ErrorCode:
              schema:
                type: integer
              description: the error code in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoutingFailure'
        "500":
          description: Server error.
          headers:
            X-TripGo-ErrorCode:
              schema:
                type: integer
              description: the error code in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoutingFailure'
        "503":
          description: Service Unavailable
          headers:
            X-TripGo-ErrorCode:
              schema:
                type: integer
              description: the error code in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoutingFailure'
        "200":
          description: Successful response. Can include many trips.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoutingResponse'
              examples:
                Location missing:
                  value:
                    error: From and/or to location missing.
                    errorCode: 400
                    usererror: true
                Server doesn't have from region:
                  value:
                    error: Server doesn't have 'from' region | Server doesn't have 'to'
                      region
                    errorCode: 401
                    usererror: true
                Server doesn't have to region:
                  value:
                    error: Server doesn't have 'from' region | Server doesn't have 'to'
                      region
                    errorCode: 401
                    usererror: true
                Routing between locations not sopported:
                  value:
                    error: Routing between these locations is not yet supported.
                    errorCode: 1001
                    usererror: true
                Origin outside area:
                  value:
                    error: Origin lies outside covered area.
                    errorCode: 1002
                    usererror: true
                Destination outside area:
                  value:
                    error: 1003
                    errorCode: Destination lies outside covered area.
                    usererror: true
                Destination equals origin:
                  value:
                    error: 1101
                    errorCode: Destination equals origin.
                    usererror: true
                No from set:
                  value:
                    error: 1102
                    errorCode: No 'from' location set. Please try again.
                    usererror: true
                No to set:
                  value:
                    error: 1103
                    errorCode: No 'to' location set. Please try again.
                    usererror: true
                Departure in the past:
                  value:
                    error: 1202
                    errorCode: Departure time is too far in the past for public transport.
                    usererror: true
                Arrival in the past:
                  value:
                    error: 1203
                    errorCode: Arrival time is too far in the past for public transport.
                    usererror: true

  /waypoint.json:
    post:
      tags:
      - Routing
      summary: A-to-B-to-C trip
      description: |
        Calculates a single A-to-B-to-C trip where transport modes can be customised per segment.

        Time information needs to be provided. For the simple input, exactly one waypoint should
        have the `time` field set. For the advanced input, either provide `leaveAt` at the top
        level, or `startTime` or `endTime` on at least one segment.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WaypointInput'
        required: true
      responses:
        "200":
          description: Successful response. Only one trip returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoutingResponse'
        "400":
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'


  /agenda/run:
    post:
      tags:
      - Routing
      summary: All-day routing between events
      description: |
        Calculates itinieraries for a complete time period considering
        between a sequence of calendar events and habitual events (such
        as home, work, or a hotel stay). Considers having to park and
        return vehicles, and handles clashes caused by overlapping events
        or evens that are too close in time but too far in location.

        Also allows to
        - specify which event should get preference in case of a clash (by
          setting the priority of the event input items)
        - fix a trip between two events (by providing it in the input
          sequence)
        - provide a list of preferred trip patterns between locations (by
          providing it in the optional `patterns` parameter), e.g., "when
          going from home to work, prefer taking train station X".
        - limit the resulting trips to certain modes (by specifying the
          optional `modes` parameter)
        - include private vehicles that can be used (by specifying the
          optional `vehicles` parameter)

        **Warning**: This endpoint has a timeout of only 30 seconds, which
        can easily be exceeded if you provide a large number of events.
        If you need to use this endpoint for a large number of events,
        please use the `POST /agenda/{date}/input` endpoint instead. For
        access to this endpoint, please contact us.
      requestBody:
        content:
          application/json:
            schema:
              required:
              - config
              - items
              type: object
              properties:
                config:
                  $ref: '#/components/schemas/ConfigInput'
                items:
                  type: array
                  items:
                    $ref: '#/components/schemas/AgendaInputItem'
                patterns:
                  type: array
                  description: "A list of trip patterns that should be preferred for\
                    \ any kind of trips between events that start and end near any\
                    \ of those patterns. E.g., if you have favourite trips for a user,\
                    \ pass these along here, so that the result will use trips that\
                    \ the user is familiar with - where appropriate."
                  items:
                    $ref: '#/components/schemas/TripInputPattern'
                modes:
                  type: array
                  items:
                    type: string
                vehicles:
                  type: array
                  description: "A list of private vehicles that can be picked up and\
                    \ used during the day. In the result, the vehicles will either\
                    \ end up at back at their garage or at the final location of the\
                    \ day."
                  items:
                    $ref: '#/components/schemas/PrivateVehicle'
            example:
              - summary: "Home to work to lunch to work to home"
                value:
                  config:
                    v: 11
                  modes:
                    - pt_pub
                  items:
                    - type: home
                      location:
                        lat: -37.8633
                        lng: 144.9751
                    - type: event
                      id: work
                      title: Work
                      startTime: 2022-06-17T09:00:00+10:00
                      endTime: 2022-06-18T17:00:00+10:00
                      location: 
                        lat: -37.814
                        lng: 144.96332
                      priority: 2
                    - type: event
                      id: lunch
                      title: Lunch
                      startTime: 2022-06-17T12:00:00+10:00
                      endTime: 2022-06-18T13:00:00+10:00
                      location": 
                        lat: -37.83
                        lng: 144.95
                      priority: 5
        required: true
      responses:
        "200":
          description: Successful response
          content: {}

  /skedgoify.json:
    post:
      deprecated: true
      tags:
      - Routing
      summary: All-day routing between events
      description: |
        Calculates itinieraries for a complete time period considering
        between a sequence of calendar events and background events (such
        as home, work, or a hotel stay). Considers having to park and
        return vehicles, and handles clashes caused by overlapping events
        or evens that are too close in time but too far in location.

        Also allows to
        - specify which event should get preference in case of a clash (by
          setting the priority of the event input items)
        - fix a trip between two events (by providing it in the input
          sequence)
        - provide a list of preferred trip patterns between locations (by
          providing it in the optional `patterns` parameter), e.g., "when
          going from home to work, prefer taking train station X".
        - limit the resulting trips to certain modes (by specifying the
          optional `modes` parameter)
        - include private vehicles that can be used (by specifying the
          optional `vehicles` parameter)
      requestBody:
        content:
          application/json:
            schema:
              required:
              - config
              - frame
              - items
              type: object
              properties:
                config:
                  $ref: '#/components/schemas/ConfigInput'
                frame:
                  required:
                  - endTime
                  - startTime
                  type: object
                  properties:
                    startTime:
                      type: integer
                      description: Start of the time period in seconds since 1970
                    endTime:
                      type: integer
                      description: End of the time period in seconds since 1970
                  description: The frame limits what the earliest and latest trips
                    are that should be returned. (Parts of) Events that are outside
                    the frame are ignored.
                items:
                  type: array
                  items:
                    $ref: '#/components/schemas/SkedgoifyInputItem'
                patterns:
                  type: array
                  description: "A list of trip patterns that should be preferred for\
                    \ any kind of trips between events that start and end near any\
                    \ of those patterns. E.g., if you have favourite trips for a user,\
                    \ pass these along here, so that the result will use trips that\
                    \ the user is familiar with - where appropriate."
                  items:
                    $ref: '#/components/schemas/TripInputPattern'
                modes:
                  type: array
                  items:
                    type: string
                vehicles:
                  type: array
                  description: "A list of private vehicles that can be picked up and\
                    \ used during the day. In the result, the vehicles will either\
                    \ end up at back at their garage or at the final location of the\
                    \ day."
                  items:
                    required:
                    - garage
                    - type
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - car
                        - bicycle
                        - motorcycle
                        - 4wd
                      UUID:
                        type: string
                        description: Some UUID for this vehicle
                      name:
                        type: string
                        description: User-friendly name to refer to this vehicle in
                          trips
                      garage:
                        $ref: '#/components/schemas/Coordinate'
        required: true
      responses:
        "200":
          description: Successful response
          content: {}

  /ttp/:
    post:
      deprecated: true
      tags:
      - TTP
      summary: Create travelling tourist problem
      description: |
        Creates a new instance of a travelling tourist problem (which is a variant of the [travelling salesman problem](https://en.wikipedia.org/wiki/Travelling_salesman_problem)). The problem is defined as follows: Given both a sorted list `A` and set `B` of locations, insert the locations from the set `B` into `A` in the optimal order somewhere after `A`'s first and before `A`'s last element, while keeping all the elements of `A` in their same relative order. Solutions will also include information on how to travel from one location to the next.

        In the input, `insertInto` is that list `A` and requires at least two elements defining the start and end, and `insert` is the set `B`.

        Note: `B` can be empty, in which case this behaves very similar to `waypoint.json` but rather than returning a single trip that goes via the waypoints you get alternatives for going from one location to the next.

        This servlet does not return the solution, but instead returns an ID which you can use to fetch the solution.
      requestBody:
        content:
          application/json:
            schema:
              required:
              - date
              - insertInto
              - modes
              type: object
              properties:
                date:
                  type: string
                  description: Date used to determine available services
                  format: date
                modes:
                  type: array
                  items:
                    type: string
                    description: As defined by regions.json
                    format: mode-identifier
                insert:
                  type: array
                  items:
                    $ref: '#/components/schemas/CoordinateWithID'
                insertInto:
                  type: array
                  items:
                    $ref: '#/components/schemas/CoordinateWithID'
              example:
                date: 2016-05-30T00:00:00.000+00:00
                modes:
                - pt_pub
                - ps_tax
                - wa_wal
                - cy_bic-s
                insertInto:
                - id: 1
                  lat: -33.5
                  lng: 151.1
                - id: 2
                  lat: -33.6
                  lng: 151.1
                - id: 3
                  lat: -33.4
                  lng: 150.9
                - id: 4
                  lat: -33.5
                  lng: 151.1
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                required:
                - id
                type: object
                properties:
                  id:
                    type: string
                    description: ID of the newly generated problem
        "400":
          description: "Bad request, most likely due to issues with the input"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InputError'
      x-codegen-request-body-name: input
  /ttp/{id}:
    delete:
      deprecated: true
      tags:
      - TTP
      summary: Delete travelling tourist problem
      description: Deletes the problem of the provided `id`. This is an optional call
        as problems will expire automatically.
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content: {}
        "404":
          description: Problem with provided `id` not found
          content: {}
        "410":
          description: Problem has expired
          content: {}
  /ttp/{id}/solution:
    get:
      deprecated: true
      tags:
      - TTP
      summary: Solution to a travelling tourist problem
      description: |
        Retrieves the solution for the problem of the provided `id`.

        The solution may take some time to be created and might not yet be available, in which case a `299` status code is returned.

        Also note that solutions can change due to data changes (including real-time data). Solutions include a content hash code, which you can provide as an optional query parameter in a new request, and you'll then the solution if it changed or a `304` if it has not changed.
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: hashCode
        in: query
        description: Content hash code of solution that has been previously fetched
        required: false
        style: form
        explode: true
        schema:
          type: integer
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TTPSolution'
        "299":
          description: Solution not yet available. Try again later.
          content: {}
        "304":
          description: Solution still matches provided hash code.
          content: {}
        "404":
          description: Problem with provided `id` not found
          content: {}
        "410":
          description: Problem has expired
          content: {}
  /trip/{id}:
    get:
      tags:
      - Trips
      summary: Retrieve previously computed trip
      description: |-
        Retrieves previously computed trip. **Important:** These will only be valid for the typical duration of a session. To save a trip for later use, use the `save` endpoint.
        Rather than constructing this URL directly, you should get it from the `temporaryURL` property from a computed trip.
      parameters:
      - name: id
        in: path
        description: Identifier of trip as returned by previous server call.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: v
        in: query
        description: Requested version number of output. Needs to be 11.
        required: true
        style: form
        explode: true
        schema:
          multipleOf: 1.0
          maximum: 11
          minimum: 11
          type: integer
      - name: DOCUMENTATION_NOT_COMPLETE
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "200":
          description: "Successful response, same format as routing.json, but with\
            \ only one trip."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoutingResponse'
  /trip/save/{id}:
    get:
      tags:
      - Trips
      summary: Save trip for later use
      description: |-
        Saves a previously computed trip to the database so that it can get retrieved even after the session expired. Useful for sharing trips.
        Rather than constructing this URL directly, you should get it from the `saveURL` property from a computed trip.
      parameters:
      - name: id
        in: path
        description: Identifier of trip as returned by previous server call.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedTripUrl'
  /trip/update/{id}:
    get:
      tags:
      - Trips
      summary: Update trip with real-time data
      description: |-
        Updates a previously computed trip with latest available real-time data.
        Rather than constructing this URL directly, you should get it from the `updateURL` property from a computed trip.
      parameters:
      - name: id
        in: path
        description: Identifier of trip as returned by previous server call.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: v
        in: query
        description: Requested version number of output. Needs to be 11.
        required: true
        style: form
        explode: true
        schema:
          multipleOf: 1.0
          maximum: 11
          minimum: 11
          type: integer
      - name: includeStops
        in: query
        description: "Boolean if segment templates for public transport should include\
          \ the list of all stops along the way, including *relative* times (i.e.,\
          \ seconds since start of the segment)"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: hash
        in: query
        description: Hash code to detect if trip has changed since you last fetched
          it.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      responses:
        "200":
          description: "Successful response, same format as routing.json, but with\
            \ only one trip."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoutingResponse'
  /trip/hook/{id}:
    get:
      tags:
      - Trips
      summary: Gets hooked urls
      description: "Return 200 if there exists one associated hook, or 404 otherwise"
      parameters:
      - name: id
        in: path
        description: Identifier of trip as returned by previous server call.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: "Successful response, with no content."
          content: {}
        "404":
          description: If trip id is invalid or no hook is registered for the given
            trip
          content: {}

    post:
      tags:
      - Trips
      summary: Hooks a trip to real-time updates
      description: |-
        Hooks a previously computed trip to get updates whenever is updated due to real-time data sources.
        Rather than constructing this URL directly, you should get it from the `hookURL` property from a computed trip.
      parameters:
      - name: id
        in: path
        description: Identifier of trip as returned by previous server call.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
              - url
              type: object
              properties:
                url:
                  type: string
                  description: "The webhook url to be notified when the trips is changed\
                    \ due to real-time updates. When that happens, our servers will\
                    \ POST to the registered URL a JSON object with the `tripID` and\
                    \ the `tripURL` to be retrieved."
                headers:
                  type: object
                  additionalProperties:
                    type: string
                  description: "headers to be added to the request, each key is the\
                    \ header to be added, which must start with x-"
              example:
                url: https://callback.com
                headers:
                  x-api-key: the-key
        required: true
      responses:
        "204":
          description: "Successful response, with no content."
          content: {}

    delete:
      tags:
      - Trips
      summary: Removes a hooks from a trip
      description: Removes a hook from a previously computed trip;
      parameters:
      - name: id
        in: path
        description: Identifier of trip as returned by previous server call.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: "Successful response, hook removed."
          content: {}
        "204":
          description: "Successful response, no hook present, so, no change made"
          content: {}
  /trip/planned/{id}:
    post:
      tags:
      - Trips
      summary: Mark trip as planned by a user
      description: |-
        Marks a previously computed trip as being planned by the user. The server will overwrite trips that were previously marked as planned and that overlap the newly planned trip.
        Rather than constructing this URL directly, you should get it from the `plannedURL` property from a computed trip.
      parameters:
      - name: id
        in: path
        description: Identifier of trip as returned by previous server call.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: DOCUMENTATION_NOT_COMPLETE
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content: {}
  /geocode.json:
    get:
      tags:
      - Geocode
      summary: Search and autocompletion
      description: Gets the transit stops and other POIs matching a provided search
        string. Optionally does auto completion.
      parameters:
      - name: q
        in: query
        description: Search term
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: near
        in: query
        description: "Nearby coordinate as `(lat,lng)` string."
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: a
        in: query
        description: Set to `true` when results are used for autocompletion.  Note
          that not all POI sources may be used when this is enabled.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: allowGoogle
        in: query
        description: "Set to `true` to enable Google Places API calls for geocoding\
          \ (see [required credentials](/extensions/#unlocking_geocoding_providers)).\
          \ Will be set to `false` if `a=true`, i.e., will not be enabled for auto-completion\
          \ requests."
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: allowW3W
        in: query
        description: "Set to `true` to enable What3Words API calls for geocoding (see\
          \ [required credentials](/extensions/#unlocking_geocoding_providers))."
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: allowYelp
        in: query
        description: "Set to `true` to enable Yelp API calls for geocoding (see [required\
          \ credentials](/extensions/#unlocking_geocoding_providers)). Will be set\
          \ to `false` if `a=true`, i.e., will not be enabled for auto-completion\
          \ requests."
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: allowFoursquare
        in: query
        description: "Set to `true` to enable Foursquare API calls for geocoding (see\
          \ [required credentials](/extensions/#unlocking_geocoding_providers)). Will\
          \ be set to `false` if `a=true`, i.e., will not be enabled for auto-completion\
          \ requests."
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: limit
        in: query
        description: Limits the amount of results for each search term. Any negative
          value means all results.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 25
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  query:
                    type: string
                    description: Search term as provided in input
                  choices:
                    type: array
                    description: Matching results. Might also be of type `StopLocation`.
                    items:
                      $ref: '#/components/schemas/Location'

  /locations.json:
    get:
      tags:
      - Locations
      summary: POIs for a circular region
      description: |
        Gets points of interest for a provided circular region (coordinate + radius). Which POIs are included depends on the enabled modes (by default all modes). For public transport, transit stops are displayed; for driving, car parks; for bike share, bike share pods; for car share, car share locations; etc.
      parameters:
      - name: lat
        in: query
        description: Latitude
        required: true
        style: form
        explode: true
        schema:
          type: number
      - name: lng
        in: query
        description: Longitude
        required: true
        style: form
        explode: true
        schema:
          type: number
      - name: radius
        in: query
        description: |
          Radius in metres. When using a radius of 5km or more, only major locations are returned that should be displayed when zoomed out, such as public transport parent stations.
        required: true
        style: form
        explode: true
        schema:
          type: number
      - name: modes
        in: query
        description: Mode identifiers for which to include POIs.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: strictModeMatch
        in: query
        description: "Should `modes` be treated strictly? If `false`, you might request\
          \ on-street parking, but also get off-street parking, or results for different\
          \ car or bike share providers than those requested."
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: true
      - name: limit
        in: query
        description: Maximum number of locations to return
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: includeChildren
        in: query
        description: "Should \"parent\" public transport location (e.g., large station)\
          \ include the details for each child stops (e.g., individual platforms)?"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: includeRoutes
        in: query
        description: "Set to include `routes` information for public transport locations."
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: includeDropOffOnly
        in: query
        description: "Set to include `drop-off-only` stops for public transport locations."
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupedLocations'
        "400":
          description: "Bad request, most likely due to issues with the input"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InputError'
    post:
      tags:
      - Locations
      summary: POIs for map region (using cell IDs)
      description: |
        Gets points of interest for a provided map region. Which POIs are included depends on the enabled modes (by default public transport only). For public transport, transit stops are displayed; for driving, car parks; for bike share, bike share pods; for car share, car share locations; etc.

        This variant using cell IDs is recommended if the client wants to cache locations locally, while frequently calling this endpoint to make sure the local data is update without requiring a lot of data overhead (and having most of the logic on the server). For an explanation, [please see our developer site](/faq#locations-cell-ids-and-hash-codes).
      externalDocs:
        description: "Locations, cell IDs and hash codes"
        url: https://developer.tripgo.com/faq/#locations-cell-ids-and-hash-codes
      requestBody:
        content:
          application/json:
            schema:
              required:
              - region
              type: object
              properties:
                region:
                  type: string
                  description: Region code from `regions.json` for which to fetch
                    locations from.
                level:
                  type: integer
                  description: "(*Deprecated*, use `levels` instead.) 1 to get major\
                    \ locations that should be displayed when zoomed out. 2 to get\
                    \ minor locations that should be displayed when zoomed in."
                  default: 1
                  deprecated: true
                levels:
                  type: array
                  description: "Levels to include in the output. '1' means major locations\
                    \ that should be displayed when zoomed out, '2' means minor locations\
                    \ that should be displayed when zoomed in."
                  items:
                    type: integer
                  default: [1]
                cellIDs:
                  type: array
                  description: "When `level` isn't 1, either this or `cellIDHashCodes`\
                    \ is required."
                  items:
                    type: string
                cellIDHashCodes:
                  type: object
                  properties:
                    $cellID:
                      type: integer
                      description: Key is cell ID. Hash code should be as returned
                        by previous call where you likely used `cellIDs`.
                  description: "When `level` isn't 1, either this or `cellIDs` is\
                    \ required."
                cellsPerDegree:
                  type: integer
                  default: 75
                modes:
                  type: array
                  description: Mode identifiers for which to include POIs.
                  items:
                    type: string
                strictModeMatch:
                  type: boolean
                  description: "Should `modes` be treated strictly? If `false`, you\
                    \ might request on-street parking, but also get off-street parking,\
                    \ or results for different car or bike share providers than those\
                    \ requested."
                  default: true
                includeChildren:
                  type: boolean
                  description: "Should \"parent\" public transport location (e.g.,\
                    \ large station) include the details for each child stops (e.g.,\
                    \ individual platforms)?"
                  default: false
                includeRoutes:
                  type: boolean
                  description: "Set to include `routes` information\
                    \ for public transport locations."
                  default: false
                includeDropOffOnly:
                  type: boolean
                  description: "Set to include `drop-off-only` stops\
                   \ for public transport locations."
                  default: false
              example:
                region: AU_NSW_Sydney
                level: 2
                cellIDs:
                - -2540#11340
                - -2540#11341
                - -2540#11342
                - -2541#11340
                - -2541#11341
                - -2541#11342
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupedLocations'
        "400":
          description: "Bad request, most likely due to issues with the input"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InputError'

  /locationInfo.json:
    get:
      tags:
      - Locations
      summary: Additional details for a coordinate
      description: "Gets details, including real-time information, for the provided\
        \ location (either identifier by a coordinate or a unique identifier). Returns\
        \ what3words information and, if available, a nearby transit stop and car\
        \ park."
      parameters:
      - name: lat
        in: query
        description: Latitude
        required: false
        style: form
        explode: true
        schema:
          type: number
      - name: lng
        in: query
        description: Longitude
        required: false
        style: form
        explode: true
        schema:
          type: number
      - name: identifier
        in: query
        description: "Unique identifier for this location, required if `lat` and `lng`\
          \ are not provided"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: region
        in: query
        description: "Region code from `regions.json`, required if `identifier` is\
          \ provided instead of `lat` and `lng`"
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationInfo'

  /departures.json:
    post:
      tags:
      - Public Transport
      summary: Departure timetable for a stop
      description: |
        Gets the departure timetable for a provided list of transit stops. It returns the next `limit` departures after `timeStamp` across any of the provided `embarkationStops`. If multiple stops are provided, the returned services might therefore only cover a subset of the provided stops.

        If `disembarkationStops` is provided, then the returned timetable covers only services between any of the embarkation stops and any of the disembarkation stops. If the region of the embarkation stops and the region of the disembarkations stops is not the same, then you must specify the `disembarkationRegion` of the `disembarkationStops`.

        Note that the the stop codes in the embarkation stops might *not* match the stop codes provided in the input. This happens if the input specified the stop code of a "parent" station (e.g., a major train station) but all the departures are from one of the parent station's "children" (e.g., a platform of that train station). If that's the case, then the `parentInfo` array will provide additional information on the parent station and its children.
      requestBody:
        content:
          application/json:
            schema:
              required:
              - embarkationStops
              - region
              type: object
              properties:
                region:
                  type: string
                  description: Region code from `regions.json` for which to fetch
                    the timetable.
                embarkationStops:
                  type: array
                  items:
                    type: string
                    description: Code of a StopLocation as previously returned by
                      `locations.json`. Currently only a single parent stop is allowed
                      in that list.
                disembarkationRegion:
                  type: string
                  description: Region code from `regions.json` for the `disembarkationStops`
                    when the region of `embarkationStops` and `disembarkationStops`
                    does not match.
                disembarkationStops:
                  type: array
                  items:
                    type: string
                    description: Code of a StopLocation as previously returned by
                      `locations.json`
                timeStamp:
                  type: integer
                  description: Seconds since 1970 of earliest time to include in timetable.
                    Default value is current time.
                limit:
                  type: integer
                  description: Number of services to include in timetable.
                includeStops:
                  type: boolean
                  description: whether to include stops related to the service
                  default: false
                filters:
                  type: array
                  description: Optional filters, that are treated as an "OR" condition.
                  items:
                    type: object
                    description: Filter to apply to the results, treated as an "AND" condition.
                    properties:
                      operatorID:
                        type: string
                        description: Operator identifier
                      routeID:
                        type: string
                        description: Route identifier for the provided operator
                      directionID:
                        type: string
                        description: Direction for the provided route, if provided, `routeID` is also required
                    required:
                    - operatorID
              example:
                region: AU_NSW_Sydney
                embarkationStops:
                - "2035143"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                required:
                - embarkationStops
                type: object
                properties:
                  embarkationStops:
                    type: array
                    items:
                      type: object
                      properties:
                        stopCode:
                          type: string
                        services:
                          type: array
                          items:
                            $ref: '#/components/schemas/ServiceDeparture'
                        wheelchairAccessible:
                          type: boolean
                          description: Is this stop wheelchair accessible? Missing
                            when unknown.
                  parentInfo:
                    $ref: '#/components/schemas/StopLocationParent'
                  alerts:
                    type: array
                    items:
                      $ref: '#/components/schemas/RealTimeAlert'

  /latest.json:
    post:
      tags:
      - Public Transport
      summary: Real-time information for a service
      requestBody:
        content:
          application/json:
            schema:
              required:
              - region
              - services
              type: object
              properties:
                region:
                  type: string
                  description: Region code from `regions.json` for which to fetch
                    the real-time information.
                services:
                  type: array
                  items:
                    required:
                    - operator
                    - serviceTripID
                    type: object
                    properties:
                      operator:
                        type: string
                        description: ID of the service's operator; or operator's name
                          if it has no ID
                      serviceTripID:
                        type: string
                        description: ID of the service
                      startStopCode:
                        type: string
                        description: "If provided, only the real-time information\
                          \ for departing this stop will be returned. If not provided,\
                          \ the response will icnlude real-time information for *all*\
                          \ the stops on route of this service."
                      endStopCode:
                        type: string
                        description: "If provided, real-time information for the arrival\
                          \ at this stop will also be returned."
                      startTime:
                        type: integer
                        description: "Departure time at `startStopCode` in seconds\
                          \ since 1970. The parameter is optional, but highly recommended.\
                          \ If you don't get real-time data, add this parameter."
              example:
                region: AU_NSW_Sydney
                services:
                - operator: Sydney Buses
                  serviceTripID: 766415652016030711954
                  startStopCode: "2035143"
                - operator: Sydney Buses
                  serviceTripID: 766404982016030711954
                  startStopCode: "2035143"
        required: false
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                required:
                - services
                type: object
                properties:
                  services:
                    type: array
                    items:
                      required:
                      - serviceTripID
                      type: object
                      properties:
                        serviceTripID:
                          type: string
                        alerts:
                          type: array
                          description: Service alerts / disruption information that
                            affect this service.
                          items:
                            $ref: '#/components/schemas/RealTimeAlert'
                        realtimeVehicle:
                          $ref: '#/components/schemas/RealTimeVehicle'
                        realtimeAlternativeVehicle:
                          type: array
                          description: "Alternative vehicles for the same route, but\
                            \ not necessarily, this specific service."
                          items:
                            $ref: '#/components/schemas/RealTimeVehicle'
                        startStopCode:
                          type: string
                          description: "Requested start stop code, as requested"
                        startTime:
                          type: integer
                          description: "Predicted departure time from `startStopCode`\
                            \ based on real-time information, in seconds since 1970.\
                            \ \n\nOnly provided if request included `startStopCode`.\n"
                        endStopCode:
                          type: string
                          description: "Requested end stop code, as requested"
                        endTime:
                          type: integer
                          description: "Predicted arrival time at `endStopCode` based\
                            \ on real-time information, in seconds since 1970. \n\n\
                            Only provided if request includes both `startStopCode`\
                            \ and `endStopCode`.\n"
                        lastUpdate:
                          type: integer
                          description: "Time the prediction for `startTime` and `endTime`\
                            \ was made, in seconds since 1970."
                        stops:
                          required:
                          - lastUpdate
                          - stopCode
                          type: object
                          properties:
                            stopCode:
                              type: string
                            arrival:
                              type: integer
                              description: "Time prediction of arrival at this stop,\
                                \ in seconds since 1970."
                            departure:
                              type: integer
                              description: "Time prediction of departure from this\
                                \ stop, in seconds since 1970."
                            lastUpdate:
                              type: integer
                              description: "Time the departure/arrival time prediction\
                                \ for this stop was made, in seconds since 1970."
                          description: |
                            List of those stops along this service *for which real-time information is available*. |

                            This can be *fewer* than what `service.json` returned if only a subset of stops has real-time information. It can also be *more* or *other* stops if there's a diversion of this service.

                            Only provided if `startStopCode` was not included in the request.
      x-codegen-request-body-name: input
  /service.json:
    get:
      tags:
      - Public Transport
      summary: Get details of a service
      description: |
        Gets the details of a transit service from the traveller's perspective. This means that it can include multiple shapes if the vehicle is continuing on as a different service at its destination and if travellers can stay on that vehicle.
      parameters:
      - name: region
        in: query
        description: Region identifier as returned by `regions.json`.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: serviceTripID
        in: query
        description: Identifier of service as returned by other servlets.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: operator
        in: query
        description: "Operator of service as returned other servlets. Not required\
          \ but recommended as a `serviceTripID` might match multiple operators; in\
          \ that case and when `operator` is not provide, a service details for a\
          \ random operator will be returned."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: embarkationDate
        in: query
        description: Departure time of service in seconds since 1970.
        required: true
        style: form
        explode: true
        schema:
          type: integer
      - name: encode
        in: query
        description: Set to `true` to receive waypoints as encoded polyline. Documented response is for `encode=true`.
        required: true # not really, but documented response only matches `encode=true`
        style: form
        explode: true
        schema:
          type: boolean
      - name: startStopCode
        in: query
        description: Stop code of embarkation. First stop to be considered "travelled".
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: endStopCode
        in: query
        description: Stop code of disembarkation. Last stop to be considered "travelled".
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Successful response, for `?encode=true`
          content:
            application/json:
              schema:
                type: object
                properties:
                  shapes:
                    type: array
                    items:
                      $ref: '#/components/schemas/ServiceShape'
                  modeInfo:
                    $ref: '#/components/schemas/ModeInfo'
                  realTimeStatus:
                    type: string
                    description: "Indicator for whether real-time information is available\
                      \ for this service. Note that even if this says the service\
                      \ is real-time, this does not mean the `startTime` is real-time."
                    enum:
                    - IS_REAL_TIME
                    - CAPABLE
                    - INCAPABLE
                    - CANCELLED
                  realtimeVehicle:
                    $ref: '#/components/schemas/RealTimeVehicle'
                  realtimeAlternativeVehicle:
                    type: array
                    description: "Alternative vehicles for the same route, but not\
                      \ necessarily, this specific service."
                    items:
                      $ref: '#/components/schemas/RealTimeVehicle'
                  alerts:
                    type: array
                    description: Service alerts / disruption information that affect
                      this service.
                    items:
                      $ref: '#/components/schemas/RealTimeAlert'
  /alerts/transit.json:
    get:
      tags:
      - Public Transport
      summary: Get real-time alerts
      parameters:
      - name: region
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                required:
                - alerts
                type: object
                properties:
                  alerts:
                    type: array
                    items:
                      $ref: '#/components/schemas/AlertsInfo'
        "400":
          description: Bad request due to bad input data
          content: {}
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: X-TripGo-Key
      in: header
  
  schemas:
    RegionsInput:
      required:
      - v
      type: object
      properties:
        v:
          multipleOf: 1
          maximum: 2
          minimum: 2
          type: integer
          description: Version number
          format: int32
        hashCode:
          type: integer
          description: "Hash code of your last response. If this is supplied the response\
            \ might only consist of the hashCode and no other content, if the data\
            \ has not changed."
        cityPolygons:
          type: boolean
          description: Add city boundaries in the response. If this is `true` the
            city boundary polygons are being added on each city.
          default: false
      example:
        v: 2
    RegionsResponse:
      type: object
      properties:
        hashCode:
          type: integer
          description: "Hash code of the content of the response. You can pass this\
            \ as an input parameter, if you only want to get content in the response\
            \ if the data has changed."
        regions:
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/Region'
        modes:
          type: object
          properties:
            $modeIdentifier:
              $ref: '#/components/schemas/ModeIdentifier'
    RegionInfoInput:
      required:
      - region
      type: object
      properties:
        region:
          type: string
          description: Region name/code from `regions.json`
      example:
[...]
